/* All variables First! */

/* 
NOTICE::: 
1- The greater part of the layout for Desktop and Tablet versins would be made possible using CSS GRID.
2- FONT-SIZES ARE MEASURES IN VW- VIEWPORT-WIDTH;
3- 





*/


html{
    padding: 0;
    margin: 0;
}


body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

/* GLOBAL STYLING */

h1, h2, h3, p{
    margin: 0;
    padding:  0;
}

a{
    color: inherit;
    text-decoration: none;
}

input:focus{
    outline: none;
}

button:focus{
    outline: none;
}

button:active{
    outline: none
}

/* Showcase for  desktop */

.slider{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 100% 100% 100%;
    /* overflow: hidden; */
  
}

.sliderMama{
    overflow: hidden;
}


.slideOne, .slideTwo, .slideThree{
    width: 100vw;
    height: 80vh;
    text-align: center;
    padding-top: 25vh;
    overflow: hidden;

}


.slideMe p{
    color: white;
    font-size: 2.4em;
    font-weight: 900;

}


.sliderMama{
    position: relative
}





.sliderMamaContent{
    position: absolute;
    top: 30%;
    left: 40%;
    text-align: center;
    color: white;
}

.sliderMamaContent h1{
    font-size: 3.6em;
    font-weight: 900;

}

.sliderMamaContent p{
    font-size: 1.3em;
    font-weight: lighter
}
.slideOne{
    
    
    background: linear-gradient(rgba(199, 21, 134, 0.507), rgba(183, 5, 106, 0.486)),  url("../images/slideOne-min.JPG");
    background-position: top;
    background-size: cover;

}

.slideTwo{
    
    background: linear-gradient(rgba(199, 21, 134, 0.466), rgba(183, 5, 106, 0.322)) , url("../images/slideTwo-min.JPG");
    background-position: center;
    background-size: cover;
}


.slideThree{
  
    background: linear-gradient(rgba(199, 21, 134, 0.562), rgba(183, 5, 106, 0.377)) , url("../images/slideThree-min.JPG");
    background-position: center;
    background-size: cover;
}

/* END Showcase for  desktop */



/* Value Box */
 
    .ABOUTvalue{
        display: grid;
        grid-template-columns: repeat(4, 25%);
        background-color: white;
        padding: 10% 1.1%;
        color: rgba(157, 25, 190, 0.623);
        font-size: 1.3em;
        text-align: center;
        margin: 0 auto;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 82%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 82%, 0% 100%);

    }

    .value img{
        margin: 1.1em 0;
        width: 35%;
        
    }

    .value:hover{

        background-color: rgba(255, 255, 255, 0.185);
   

    }


    .value{
        transition: background 0.4s ease-in-out
    }


/* END Value Box */

/*SKILLS BOX  */

    .skillsCircle{
        display: grid;
        grid-template-columns: 30% 25% 20% 15% 10% ;
        margin: 8em;

    }

    .skillsCircle div{
        width: 100%;
        display: block;
        height: 4em;
        color: white;
        text-align: center;
        padding-top: 70%;
        border-radius: 0 0 19px 0px
        
    }

    .frontendDEVS{
        background-color: #C71585;

    }

    .fullstackDEVS{
        background-color: rgba(199, 21, 134, 0.836)
    }

    .machinelearners{
        background-color: rgba(199, 21, 134, 0.736)
    }

    .AIpros{
        background-color: rgba(199, 21, 134, 0.536)
    }

    .websecurity{
        background-color: rgba(199, 21, 134, 0.336)
    }
/*END SKILLS BOX  */


/* BENEFITS BOX */

.ABOUTmembersBenefit{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 90%;
    margin: 0 auto;
    grid-column-gap: 1em;
    
}

.benefits{
    text-align: center;
    width: 50%;
    margin: 3em auto;
    background-color: white;
    box-shadow: 0px 0px 10px 6px rgba(199, 21, 134, 0.089);
    padding: 5.1em 2em;
    position: relative;
    line-height: 2em;
    border-radius: 10px;
    

}

.benefits img{
    width: 23%;
    position: absolute;
    top: -17%;
    left: -5%;
    


}

/* BENEFITS BOX END */


/*  TEAM BOX */

  .ABOUTteam h1{
    font-size: 2.2em;
    text-align: center;
    position: relative;
    margin: 3em 0;

  }

  .ABOUTteam h1::before{
      display: block;
      content: "";
      width: 10%;
      height: 4px;
      position: absolute;
      bottom: -3px;
      left: 50%;
      text-align: center;
      background-color: rgba(199, 21, 134, 0.815);
  }


  .members{
      display: grid;
      grid-template-columns: repeat(3, 33%);
      text-align: center;
  }


  .teamMember img{
    width: 55%;
    border-radius: 200px;
    box-shadow: 0 0 10px 3px rgba(199, 21, 134, 0.158);

  }

  .teamMember h3{
      font-size: 2em;
      color: #C71585;
   }
/* END TEAM BOX */


/* Patners Box */
.ABOUTpatners{
    display: grid;
    grid-template-columns: repeat(5, 20%);
    width: 70%;
    margin: 3em auto;

}

.ABOUTpatners img{
    width: 90%;
    margin: 0;
    opacity: 0.4

}

/* END Patners Box */


/* Tablet customization */
@media (min-width: 760px) and (max-width: 1024px) {


    /* Slider for tab */
    .slider{
        height: 50vh;
    }

    .slideOne, .slideTwo, .slideThree{
        height: 50vh;
    }

    

    .sliderMamaContent{
        left: 25%;
    }

      /* END Slider for tab */

      /* VALUE BOX FOR TAB */

        .ABOUTvalue{

            padding: 20% 0;
            padding-top: 10%;
            grid-template-columns: repeat(2, 50%);
            grid-template-rows: 50% 50%;
            width: 100%;
        }

        .value{
            padding: 2em 1.4em;
        }

        .value img{
            width: 23%;
        }

      /* END VALUE BOX FOR TAB */


      /* SKILLS BOX for Tab */

        .skillsCircle{
            margin: 3em 1em;;
        }

        .skillsCircle div{
            padding-top: 40%;
        }

      /*END SKILLS BOX  for tab */


      /* BENEFIT BOX for Tab */

        .ABOUTmembersBenefit{
            display: block;
            width: 100%;
            margin: 9em 0;

        }

        .benefits{
            width: 70%;
            margin: 6em auto;

        }


        .benefits img{
            width: 13%;

        }

       /*END  BENEFIT BOX for Tab */



       /* Team Box  for Tablet */

        .teamMember{
            margin: 3em 0;
        }

        .teamMember img{
            width: 55%;
        }

        .teamMember h3{
            font-size: 1.3em;
        }

       /* END Team Box for TAB */






}
/* End for tab customization */

/* STYLING FOR MOBILE VIEW */


@media (min-width: 320px) and (max-width: 480px){

    body{
        padding-top: 7em;
    }

    /* Slider for MOBILE */


    .slider{
        height: 70vh;
        margin-bottom: 1em;
    }
    .slideOne, .slideTwo, .slideThree{
        height: 50vh;
    }

    .sliderMamaContent{
        left: 0%;
    }

    /* END slider Mobile */

    /* VALUE BOX for Mobile */

        .ABOUTvalue{
            display: block;
            padding-bottom: 9em;
            width: 100%;
        }

        .value img{
            width: 24%;
        }

        .value{
            padding: 2em 1.2em;
            width: 80%;
            margin: 0 auto;
        }
    /* End Value Box for Mobile */

    /* SKilss Box for Mobile */

        .skillsCircle{
            display: block;
            margin: 2em 1em;
        }


        .skillsCircle div:nth-child(1){
            width: 100%;
            padding-top: 40%;
        }

        .skillsCircle div:nth-child(2){
            width: 80%;
            padding-top: 40%;
        }
      
        .skillsCircle div:nth-child(3){
            width: 70%;
            padding-top: 40%;
        }

        .skillsCircle div:nth-child(4){
            width: 55%;
            padding-top: 40%;
        }

        .skillsCircle div:nth-child(5){
            width: 35%;
            padding-top: 40%;
        }

       


    /* END Skills Box for Mobile */



    /* Benefit Box for Mobile */

    .ABOUTmembersBenefit{
        display: block;
        margin: 10em 0;
        width: 100%;
    }

    .benefits{
        width: 58%;
        margin: 9em auto;
    }

    .benefits img{
        top: -15%;
    }

     /*END  Benefit Box for Mobile */

     /* TEAM BOX */

        .members{
            display: block;
        }

        .teamMember{
            margin: 3em 0;
        }

        .teamMember h3{
            font-size: 1.3em;
        }
        .teamMember img{
            width: 37%;
        }

     /* END TEAM BOX */


     /*PATNERS BOX for Mobile */

        .ABOUTpatners{
            width: 100%;
        }

     /*END PATNERS BOX for Mobile */




}

