/* All variables First! */

/* 
NOTICE::: 
1- The greater part of the layout for Desktop and Tablet versins would be made possible using CSS GRID.
2- FONT-SIZES ARE MEASURES IN VW- VIEWPORT-WIDTH;
3- 





*/
:root{
    --official-color: #C71585;
    --official-color-shade: #C71585;
    --official-purple: #B70569 ;
    --offical-footer-color: #646464;

    padding:  0;
    margin: 0;
    --main-black: rgb(0, 0, 0);
    --grey: #646464;

}

html{
    padding: 0;
    margin: 0;
}


body{
    margin: 0;
}

/* GLOBAL STYLING */

h1, h2, h3, p{
    margin: 0;
    padding:  0;
}

a{
    color: inherit;
    text-decoration: none;
}

input:focus{
    outline: none;
}

button:focus{
    outline: none;
}

button:active{
    outline: none
}



nav ul{
    display: grid;
    grid-template-columns: repeat(6, 16.667%);
    grid-column-gap: 0.1em;
    text-align: center;
    list-style: none;
    font-family: 'Raleway', sans-serif;
    font-size: 1.6vw;
    color: var(--grey);
    margin: 0;
    padding: 0;
    width: 95%;


}



nav ul img{
    width: 20%;
    margin: 0;

}


nav ul li{
    font-size: 1.2vw;
    padding-top: 15%;


}
/*  */


nav ul li:hover{
    cursor: pointer;
    color: var(--official-color);
    transform: scale(1.04);
    transition: transform  0.4s ease-in-out
    
}


/* Putting out the mobile NAV */
.mobileNav{
    display: none;
}


/* End of Nav Styling DESKTOP */


/* Start of Showcase Styling DESKTOP */

/* Hide Mobile Showcase */
.showcaseforMobile{
    display: none;
}
.showcase{
    display: grid;
    grid-template-columns: repeat(2, 70% 30%);
    margin: 4em 0;

}

.showcase img{
    width: 100%;
    transform: scaleX(-1);
   
}

.showcaseText{
    padding: 0 0em 0 3em;
}

.showcaseText h1, .culture h1{
    font-family: 'Raleway', sans-serif;
    font-size: 5.7vw;
    font-weight: bolder;
    width: 100%;
    color: var(--official-color);
    margin:  0;

   
}


.showcaseText p{
    font-size: 1.8vw;
    font-family: 'Raleway', sans-serif;


}

.globalButton {
    background-color: white;
    border: 0.2px solid var(--official-purple);    
    outline: none;
    border-radius: 200px;
    padding: 1em 2em;
    box-shadow: 0 0 4px 1px rgba(255, 20, 145, 0.267) ;
    transform: scale(1.2);
    margin: 4em 0;
}

.globalButton:hover {
    background-color: var(--official-color-shade);
    color: white;
    transition: all  0.7s ease-in-out;
    cursor: pointer;
    transform: scale(1.15);
}

/* END of Showcase Styling DESKTOP */


/* Start of Culture Styling DESKTOP */

.culture h1{
 font-size:  2vw;
 text-align: center;

}


.cultureList{
    display: grid;
    grid-template-columns: repeat(3, 30.5%);
    grid-column-gap: 2em;
    width: 80%;
    margin: 2em auto;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    box-shadow: 0 0 12px 1px var(--official-purple);
    border-radius: 4px;
    padding: 3em 1.4em;

}

.cultureList img{
    width: 40%;
}

.cultureList h3{
    font-size: 1.7vw;
   
}

.cultureList p{
    font-size: 1.3vw;
    line-height: 1.5em;
    margin: 0.5em 0;
}

/* End of Culture Styling DESKTOP */


/* Start of FounderBox Styling DESKTOP */
    .founder{
        display: grid;
        grid-template-columns: repeat(2, 30% 70%);
        grid-column-gap: 3em;
        width: 80%;
        margin: 10em auto;
        position: relative;
    }

    .founderImage img{
        width: 350px;
        height: 350px;
        border-radius: 300px;
        border: 2.3px solid var(--official-color-shade)
       
    }

  

    .founderspeech {
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-size: 1.4vw;
        color: var(--grey);
        line-height: 1.5em;
        width: 80%;
        margin: 0 auto;

    }

    .founder .name h3{
       color: black;
       padding: 0;
       margin: 0;
    }

    .name{
        margin-top: 3em;
    }

    .founder .name p {
        padding: 0;
        margin: 0;
    }



    .founderImage{
        position: relative;
    }
    

/* End of FounderBox Styling DESKTOP */



/*  Start of TESTIMONY Styling DESKTOP  */

    .testimony{
        display: grid;
        grid-template-columns: repeat(3, 33%);
        grid-column-gap: 1em;
        width: 80%;
        margin: 7em auto;


    }

    .testimonyBox{
        text-align: center;
        position: relative;
        line-height: 1.7em;
        font-family: 'Raleway', sans-serif;
        position: relative;
        padding: 4em 1.4em;
        background-color: white;
        border: 2px solid var(--official-color);
        border-radius: 6px;
        
    }

    


    .testimonyBox .name{
        font-family: 'Raleway', sans-serif;
    }

    .testimonyBox img{
        width: 18%;
        position: absolute;
        border-radius: 300px;
        bottom: -10%;
        left: 40%;
        border: 7px solid var(--official-color);

    }




/* End of TESTIMONY Styling DESKTOP  */


/* Start of MessageUs Styling DESKTOP  */

.messageus{
    width: 60%;
    margin:  9em auto;
    font-family: 'Raleway', sans-serif;
    border: 1px solid var(--official-color);
    padding: 3em 1em;
    text-align: center;
    position: relative;

}

.messageus h1{
   background-color: white;
   display: inline-block;
   padding: 0em 1em;
   position: absolute;
   top: -5%;
   left: 35%;
}

.credentials p{
    text-align: left;
    width: 80%;
    margin: 0 auto;
}
.messagecredentials{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin: 4em 0;
    grid-column-gap: 2em;
    text-align: center;
}

.credentials input, .messageus textarea{
    width: 80%;
    border-style: solid;
    border-top: 1px  solid transparent;
    border-left: 1px  solid transparent;
    border-right: 1px  solid transparent;
    border-bottom: 1px solid var(--official-purple);
    font-size: 1.2em;
    font-family: 'Raleway', sans-serif;
    margin: 1.9em 0em;
    padding: 0;
    
    
}

.messageBox textarea{
    width: 90%;
    height: 20vh;
    font-family: 'Raleway', sans-serif;
}

.messageus textarea:focus{
    outline: none;
}

.messageus button, .mobileNav button{
    background: linear-gradient( to top right,  var(--official-color-shade), var(--official-purple));
    border: 1px solid var(--official-purple);
    padding: 1.2em 3em;
    color: white;
    border-radius: 0.3em;
    margin: 2em auto;
    cursor: pointer;
    width: 60%;
    
}

.messageus button:active{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}


/* Start of MessageUs Styling DESKTOP  */

/* Start of Footer Styling DESKTOP  */

.footercolumns{
    display: grid;
    grid-template-columns: repeat(2, 60% 40%);
    background-color: var(--official-color);
    font-family: 'Raleway', sans-serif;
    color: white;
    padding: 4em 1.9em;
}

.footercolumns ul{
    padding: 0;
}

.footercolumns ul li{
    cursor: pointer;
    list-style-type: none;
    line-height: 2.5em;
}


.footercolumns h1{
    text-shadow: 2px 2px var(--official-purple);
    font-size: 1.5em;

}
.footerTop{
    background: var(--official-color);
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    
}

.footerBottom h1{
    margin-bottom: 1em;
}

.footerBottom input{
    width: 75%;
    margin: 0;
    padding: 1em 1em;
    border: 1px solid transparent;
    border-radius:  300px 0px 0px 300px;
}

.footerBottom button{
    padding:  1em 1em;
    margin: 0;
    border: 1px solid transparent;
    background-color: var(--official-purple);
    color: white;
    cursor: pointer;
    border-radius:  0px 300px 300px 0;
}

.footerBottom input, .footerBottom button{
    border: 4px solid white;
}

.footerBottom p{
    text-align: center;
    margin: 1em;
}

.footerTop ul li:hover{
     background-color: white;
     color: var(--official-purple);
     width: 80%;
     border-radius: 200px;
     padding: 0 0.08em;
     transition: all 0.7s;
}


.rights{
    display: grid;
    grid-template-columns: repeat(2, 70% 30%);
    color: whitesmoke;
    background-color: var(--official-purple);
    font-family: 'Raleway', sans-serif;
    padding: 1em 0;
}

.rights p{
    text-align: right;
    padding: 0 1em;
}
.rights h3{
    font-size: 1em;
    font-weight: lighter;
    padding: 0 0.3em;
    
}






/* THE STYLE ADJUST FOR TABLET VIEW. */

@media (min-width: 760px) and (max-width: 1024px) {
    
    body{
        position: relative;
        padding-top: 4em;
        
    }

    /* For Nav Start */


    nav{
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        background-color: white;
        z-index: 1000;
        margin: 0 0 4em 0;
        box-shadow: 0em 0.009em 0.3em 0em var(--offical-purple);
    }
    nav ul img{
        width: 35%;
    }

    nav ul li{
        font-size: 2vw;

    }

    /* End Nav Style */

    /* For culuture */
        .cultureList{
            width: 93%;
        }

        .cultureList img{
            width: 49%;
            margin: 2em 0;
        }

        .cultureList h3{
            font-size: 2.1vw;
        }

        .cultureList p{
            font-size: 1.9vw;
        }


     /* END For culuture */


     /* Founder Style */
        .founderImage img{
            width: 180px;
            height: 180px;
        }

        .founderspeech {
            font-size: 1.8vw
        }
       

     /* End Founder Style */

     /* Testimony Styling Start */
        .testimony{
            width: 95%;
            margin:  0 auto;
            grid-column-gap: 0.5em;

        }

        .testimonyBox{
            padding: 4em 1em;
            
        }

        .testimonyBox img{
            bottom: -5%;
        }

        .testimonyBox img{
            width: 25%;
        }
     
     /* Testimony Styling End */
    
     /* MessageUs Box start */

        .messageus{
            width: 90%;
        }

        .credentials input{
            width: 90%;
        }

        .credentials p{
            width: 90%;
        }

        .messageus h1{
            top: -3%;
            left: 28%;
        }


        /* Footer Styling TABLET VIEW */

        .footercolumns{
            display: inline-block;
            width: 100%;
            padding:  2em 0;
            text-align: center;
        }

        .footerBottom{
            margin: 4em 0;
            text-align: center;
        }

        .footerBottom h1{
            text-align: center;

        }

        .footerBottom input,  .footerBottom button{
            padding: 1.5em 1.5em;
            border: 4px solid white;
        }

       

        

    

     /* MessageUs Box End */

/* END OF THE STYLE ADJUST FOR TABLET VIEW. */
  }

  

/* STYLING FOR MOBILE VIEW */


@media (min-width: 320px) and (max-width: 480px){

    /* Adding a position  of relative to the
    body element, so
    a fixed nav can be possibe  and also 
    some padding to put it down. away from
    the fixed nav*/
    body{
        position: relative;
        padding-top: 3em;
    }

    /* Putting off the DESKTOP NAV */
    nav{
        display: none;
    }

    /* The new Mobile nav */

    .mobileNav{
        display: block;
        position: absolute;
        z-index: 1000;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0;
        background-color: rgba(255, 255, 255, 0.945);
       
    }

    
    .mainmobileNav{
        display: grid;
        grid-template-columns: repeat(2, 80% 20%);

    }
    
    .mainmobileNavImg img{
        width: 15%;
        padding: 0.8em;
       
    }
    
    /* Making the three nav icon */
    .mainmobileNavIcon{
        padding: 35% 0% 0% 0%;
        cursor: pointer;
    }
    
    
    .mainmobileNavIcon div{
        height: 0.9px;
        width: 55%;
        background-color: black;
        display: block;
        transition: all 0.4s ease-in-out;
    
    }




    /* Weird, IKR? */
    .marginAdder{
        margin: 0.6em 0;
    }




    .moveIcon2{
        transform: rotate(-40deg);
        /* margin: 2em; */
    }

    .moveIcon1{
        transform: rotate(40deg);
        margin: 0;
    }
    
    .mainmobileNavIcon .icon1{
        width: 24%;
        
    }

    .mobilemenucontent{
        font-family: 'Raleway', sans-serif;
        display: none;
        height: 100vh;
       
    }

    /* The Menu Items */

    .mobilemenucontent ul{
        text-align: center;
        list-style-type: none;
        font-size: 1em;
        line-height: 4em;
        font-weight: lighter;
        font-size: 1.4em;
        margin: 0;
        
    }

    .mobilemenucontent ul li::before{
        content: "";
        border-bottom: 1px solid green;
        width: 30px;
        border-bottom: 1px solid white;
        position: absolute;
        top: 50%;
        left: 0px;

    }

    .mobilemenucontent ul li{
        position: relative;
        display: inline-block;
        width: 60%;
        cursor: pointer;
        color: black;
        
    }

    .mobileNav button{
        display: block;
        background: white;
        color: var(--official-color);
        font-size: 1.22em;
        transform: scale(0.6);
        border-radius: 300px;
        margin: 0;
        padding: 0.6em 1em;
        width: 100%;

    }


    /* Styling for showcase */
    .showcaseText, .showcaseImage{
        display: none;
    }

    .showcaseforMobile{
        display: block;
        height: 80vh;
        background: linear-gradient(rgba(183, 5, 106, 0.637), rgba(183, 5, 106, 0.685)), url("/images/showcaseImg.jpg");;
        width: 100%;
        background-position: center;
        background-size: cover;
        margin-top: 2em;
        text-align: center;
        color: white;
        font-family: 'Raleway', sans-serif;
    }

    .showcaseforMobileText{
        padding-top: 30%;
        font-size: 1.9em;
        font-weight: 900
    }

    .showcaseforMobileText p{
        font-size: 0.5em;
        margin-top: 2em;
    }

    /* END Styling for showcase */



    /* START cultureBox Stying */
    
    .culture h1{
        font-size:  8vw;
        
    }

    .cultureList{
        box-shadow: none;
        display: block;
        position: relative;
    }

    

    .cultureBox{
        margin-bottom: 4em;
        box-shadow: 0 0 10px 1px var(--official-color);
        padding: 30px;
    }

    .cultureBox img{
        width: 30%;
    }

    .cultureBox h3{
        font-size: 6vw;
    }

    .cultureBox p{
        font-size: 3.7vw;
        margin-top: 2em;
        line-height: 1.6em;
    }


    /* END cultureBox Stying */

    /* START founderBox styling */
    .founder{
        display: block;
        width: 100%;
        text-align: center;
        margin: 0;
    }

    .founderImage img{
        width: 200px;
        height: 185px;
        margin-bottom: 2em;
    }

    .founderspeech{
        font-size: 4vw;
        text-align: left;
    }

    /* END founderBox styling */

    /* START testimony Box */

    .testimony{
        display: block;
    }

    .testimonyBox{
        border: none;
        margin: 6.9em 0;
        box-shadow: 0 0 4px 1px var(--official-color);

    }
    

    .testimonyBox img{
        bottom: -6%;
        left: 39%;
        border: 4px solid var(--official-color)
    }


     /* END testimony Box */

     /* START messageUs */

     .messageus{
         width: 90%;
         margin: 3em auto;
         padding: 0;
         display: block;
     }

     .messageus  h1{
         font-size: 6.3vw;
         left: 18%;
         top: -3%;
     }

     .messagecredentials{
         display: block;
         margin: 3em 1em;
         text-align: center;
     }

     .credentials{
         margin-bottom: 4em;
         width: 100%;
         padding: 0
     }

     .credentials input{
         width: 100%;
         padding: 0;
         margin: 0.7em 0;
     }

     .credentials p{
         color: var(--grey);
         text-align: left;
         margin: 0;
     }

     .messageus textarea{
        width: 90%;
     }

     /* END messageUs  */


     /* START FOOTER */

     .footerTop{
         width: 100%;
         display: block;
         text-align: center;
     }



     .footercolumns{
         display: block;
         
     }

     .footercolumns div{
         margin: 3em 0;
     }

      .footerBottom{
          width: 100%;
          display: block;
          text-align: center;
      }

      .footerBottom input{
          width: 65%;
      }

      .rights{
          grid-template-columns: repeat(2, 50% 50%);
          font-size: 0.7em;
          padding: 1em;
      }
       
    /* Getting the GRID out! */
    .showcase{
        display: block;
    }


   

    /* END STYLING FOR MOBILE VIEW */
}


/* WHEN YOU ON A PAGE */

.onMe{
    color: var(--official-color)!important ;
    border-bottom: 1px solid  var(--official-color)  !important;
    margin-bottom: 2em;
     
}





/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

/* @media (min-width: 1281px) {
  
    //CSS
    
  } */
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  /* @media (min-width: 1025px) and (max-width: 1280px) {
    
    //CSS
    
  }
   */
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
/*   
  @media (min-width: 768px) and (max-width: 1024px) {
    
    //CSS
    
  } */
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  /* @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    //CSS
    
  }
   */
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  /* @media (min-width: 481px) and (max-width: 767px) {
    
    //CSS
    
  } */
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  /* @media (min-width: 320px) and (max-width: 480px) {
    
    //CSS
    
  } */



  /* 
  ANIMATIONS 
  */

  /* Turning the MENU ICONS CLLOCKWISE*/
/* 
@keyframes icon-move-downLeft{
    from{
        transform: rotate(0deg)
    }

    to{
        transform: rotate(30deg) translateY(5px)
    }
}


@keyframes icon-move-downright{
    from{
        transform: rotate(0deg)
    }

    to{
        transform: rotate(-40deg) translateY(-15px);

    }
} */